body {
    background-color: #4e4e4e !important;
}

.container {
    background-color: #4e4e4e !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    align-items: center;
    padding: 5px;
}

.quizcard {
    width: 30rem;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success {
    color: white;
}

.bg-danger {
    color: white;
}

.button-row {
    display: flex;
    justify-content: center;
}

.card-img-top {
    height: 280px;
    object-fit: fill;
}

.end-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
}